<?xml version="1.0"?>
<model>
    <name>hw3_scara</name>
    <version>1.0</version>
    <sdf>model.sdf</sdf>
    <author>
        <name>Your Name</name>
        <email>your.email@example.com</email>
    </author>
    <description>
        SCARA Robot for RAS 545 Homework 3
    </description>
</model>
