<?xml version="1.0"?>
<model>
  <name>hw3_scara</name>
  <version>1.0</version>
  <sdf version="1.6">urdf/hw3_scara.urdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your.email@example.com</email>
  </author>
  <description>
    SCARA robot model for ROS2 and Gazebo simulation.
  </description>
</model>
